<div class="container marg">
  <% completar %>
  <h1>Completaste la tarea: <%= @element["title"]%></h1>
  <a href="/task"><button type="button" class="btn btn-success">VOLVER A TAREAS</button></a>
</div>
