
<div class="container col-md-4 col-md-offset-4 head">
  <div class="row">
    <h1>Bienvenido a Tu ToDO</h1>
  </div>
    <div class="row">
      <h3>Ingresa tu nombre para administrar tus tareas </h3>
    </div>
</div>

<!-- formulario de ingreso -->
<div class="container col-10 col-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="jumbotron position">
    <div class="d-flex justify-content-center">
      <img src="http://pensando.roynechaves.com/wp-content/uploads/2017/10/RC2.png" style="width:120px; height:80px">
    </div>
    <form action="/task" method="post">
      <div class="form-group">
        <label for="username">Nombre de usuario</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu nombre de usuario">
      </div>
      <button type="submit" class="btn btn-primary">Ingresa</button>
    </form>
  </div>
</div>
