<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Bienvenido <%= params[:username] %></h1>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#new">Nueva Tarea</button>
    </div>
  </div>
</div>

<!-- modal tarea nueva -->

<div class="modal" tabindex="-1" role="dialog" id="new">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva Tarea</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- captura la tarea -->
      <form class="form-group">
        <div class="modal-body">
          <textarea id="nuevo" class="form-control" name="new_task" rows="2" placeholder="Escribe tu nueva tarea"></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-target="#nuevo">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- tareas pendientes -->
<div class="container" id="pending">
  <h4>Tareas Pendientes</h4>
  <div class="jumbotron">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <ul>
          <% mostrar_tarea.each do |tarea| %>
            <li>
              <h4><%= tarea["title"] %><h4>
              <button type="button" class="btn btn-success"><i class="material-icons">assignment_turned_in</i></button>
              <a href="/delete/<%= tarea["id"] %>"><button type="button" class="btn btn-danger"><i class="material-icons">delete</i></button></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- tareas completadas -->
<div class="container" id="completed">
  <h4>Tareas Completadas</h4>
  <div class="jumbotron">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <p class="text-left"><%= params[:username] %></p>
        <button type="button" class="btn btn-danger"><i class="material-icons">delete</i></button>
      </div>
    </div>
  </div>
</div>
